@import "tailwindcss";

:root {
  --background: #ffffff;
  /* Text Colours */
  --text-white: #ffffff;
  --text-footer-light: #d1d5dc;
  --text-cta-banner: #dbeafe;
  --text-paragraph: #4a5565;
  --text-card-p: #717182;
  --text-title: #0a0a0a;
  /* Brand Colours */
  --brand-blue: #155dfc;
  --brand-purple: #9810fa;
  --footer-bg: #101828;
  --review-yellow: #f0b100;
  /* Button Colours */
  --button-dark: #030213;
  --button-light: #eceef2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  font-family: Inter, sans-serif;
}
